<div name="specialty_selected" id="id_select_box8" class="x2" multiple="">

<div class="expandbox">
    <p class="xp23">ANTERIOR HIP</p>
    <span class="collapse-icon" onclick="addEventsDropDown(event)">+</span>
</div>
<div></div>


<fieldset class="xp24" style="display:none;" name="xp12">
    <div class="qp">
        <div>
            <label for="anterior" hip80=""> <h6 style="display:inline;"><span class="bullet">•</span><strong> Name: </strong></h6> BioCorneum Scar Cream </label>
            <div class="description">
              <br>
              <span class="description-product"> <h6 style="display:inline;"><strong> Description: </strong> </h6> null </span>
            </div>
            <a class="additionalinfo" style="color:blue;" onclick="additionalInfo(event)">&nbsp;| More </a>
        </div>
        <input id="anterior" hip80="" value="80" type="checkbox" name="prod-anterior" hip="">
    </div>
    <br>
</fieldset>
</div>



    