{% extends 'medical/base2.html' %}

{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'pproducts/products.css' %}" type="text/css">
<style>

#more_details {
    
    background-color: #0fa942;
    color:whitesmoke;
    border-radius:7px;
    border:0.5 solid gray;
    width:75%;
}
.outer-container-button {
    text-align: center;
    position: relative;
    width:100%;
}
.title {

    margin-left:5vw;
    display:inline-block;
}
.parent-mom-container {
    margin-top:3vh;
}

form {
    
}
.select-box {
position:relative;
margin-left: 69vw;

display:inherit;
}
.select-body-part {
    font-size: 20px;
    border: 1.5px solid rgb(108, 102, 102);
}
select {
    margin-left:3.5vw;
}
#addproduct {
  color: rgb(45, 130, 69);
  margin-left: 1vw;
  size: 1.2rem;
}

.editproductlink {
  color:#0fa942;
  text-decoration: none;
}

#selectboxspecialty {
  
}

.newspecialtylink {
  margin-left:50vw;
  color:green;
}
#newproductlink {
  margin-left:1.5vw;
  color:blue;
}

#editspecialtyview {
  color:green;
  color:rgb(137, 22, 22);
  position:absolute;
  left:82.6vw;
}

#productTitleTag {
  text-transform: capitalize;
  
}

.editproductlink {

}
#demotext {
color: transparent;
background: #666666;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
a {
  z-index: 5;
}

#selectboxspecialty {

  margin-top: 12vh;
}
.card-desc-box {
  height:90px;
  max-height: 90px;
  overflow-y: scroll;
}
</style>

{% endblock styles %}

{% block content %}


<div class="parent-mom-container">
<div id="titleBox" class="title">
  
      <h2 id="titleLabel" style="display:inline;"> Products</h2>
      {% if request.user.is_superuser %}
      <a style="color:blue;" id="newproductlink" style="margin-top:3vh;" href="{% url 'pproducts:addproduct' %}" id="addproduct"><strong>Create New Product + </strong></a>
      <a  class="newspecialtylink" href="{% url 'pproducts:addtags' %}" id="addTags"><strong>Create New Specialty + </strong></a></strong>
      {% endif %}
      {% if view %}
      <h4 id="demotext"  >Physician: {{physician_name_first}} {{physician_name_last}}</h4>
      {% endif %}
   
   
</div>
<form  method="post">
    {% csrf_token %}
    <div class="select-box">

        {% if view %}
        <input type="hidden" name="physician" id="hidden_physician_id" value="{{physician_id}}">
        {% endif %}
      
        <select id="selectboxspecialty" onchange="displayProducts(event)" style="font-size: 20px; border-radius: 6px;border: 1.5px solid rgb(108, 102, 102);" name="select-body-part" id="select-body-part-id">
          <option value="None" {% if not view %} selected {% endif %}>Please Select A Specialty</option>
          <option value="all">All</option>
          {% for specialty in specialties %}
          <option value="{{specialty.tag}}" {% if view and specialty.tag == tag %} selected {% endif %}>{{specialty.tag|title}}</option>
          {% endfor %}
        </select>
    </div>  
   <div class="outer-container1">
     <div class="container" id="outer-cont-holder">

      {% if view %}
      {% for product in specialtyTags %}
      <div class="card"><div class="card-header"><img {% if product.picture %} src="{{product.picture.url}}" {% else %}src="/media/products/Foam%20Roller%20Muscle%20Stretching/pexels-photo-2775196.jpeg" {% endif %} alt="rover" width="100" height="100"></div>
      <div class="card-body">
        <span class="tag tag-teal"> <a href="">FUCKU </a> </span><span><a class="editproductlink" href="{% url 'pproducts:editproduct' product.id %}?specialty={{tag}}"> Edit Product </a></span>
        <h4>
          {{product.name}}
        </h4>
        <p>
          {{product.description}}
        </p>
        <div class="outer-container-button">
            <button id="more_details"><a id="link2addprod" href="{% url 'pproducts:product2physician' product.id %}?specialty={{tag}}">Add Product</a></button>
        </div>
        </div></div>
        {% endfor %}

      {% endif %}
        {% comment %}
        HTML WILL BE DYNAMICALLY BE LOADED BY JAVASCRIPT HERE
        {% endcomment %}
    </div>
  </div>
</form>
</div>

<script src="{% static 'pproducts/products.js' %}"></script>
<script>
  function displayProducts(event) {
    var outercont = document.getElementById('outer-cont-holder');
    console.log(event.target.value)
    if (event.target.value == "None") {
      var editspecialtylink = document.getElementById("editspecialtyview")
      editspecialtylink.remove()
      outercont.innerHTML = "";
      return
    }
    var token = document.querySelector("input[name=csrfmiddlewaretoken]").value;
    console.log("testing")
    var hiddenfield = document.getElementById('hidden_physician_id');
    if (hiddenfield) {
      hiddenfield_value = hiddenfield.value;
      console.log("hidden field", hiddenfield_value)
    } else {
      hiddenfield_value = 0
    }

    var json_obj = {}
    var specialty_label = event.target.value
    json_obj['specialty'] = event.target.value; 
    json_obj['physician_id'] = hiddenfield_value;
    var callbackURL = "{% url 'pproducts:displayproducts' %}"
    var mediaURL = "{{MEDIA_URL}}" 
    console.log(mediaURL,'media')

    $.ajax({
              type: 'POST',
              headers: { "X-CSRFToken": token },
              dataType: "json",
              data: json_obj,
              url: callbackURL,
              // Receiving JSON Response Back from DB
              success: function(response) {
                console.log(response)
                if (response) {

                  var dataset = response.dataset;
                  if (!dataset) {
                    outercont.innerHTML = "";
                    return
                  }
                  
                  var sspecialty = response.specialty
                  // var productdataset = response.products
                  
                  // var subheading = document.getElementById('productTitleTag')
                  // subheading.textContent = sspecialty;
                  if (dataset.length) {
                  console.log('whatthefuck')
                  outercont.innerHTML = ""
                  for (let i = 0; i < dataset.length; i++) {
                    console.log("DDDDDDDD")
                    var addProductsURL = '/pproducts/addproducts/physician/' + dataset[i][0]['id'] + '/?specialty=' + specialty_label 
                    var card = document.createElement('div')
                    card.classList.add('card')
                    var card_header = document.createElement('div')
                    card_header.classList.add('card-header')
                    
                    var html = `<img src='${dataset[i][1]}' alt='rover'/ width=100 height=100>`
                    card_header.insertAdjacentHTML('beforeend', html);
                    var card_body = document.createElement('div');
                    card_body.classList.add('card-body');
                    
                    html = `
                    <span class="tag tag-teal" class="tagselection"> <a href="/pproducts/products/tags/${response.specialtyid}/"> ${specialty_label}</a> </span>
                     
                    <h4>
                      ${dataset[i][0]['name']}
                    </h4>
                    <p class="card-desc-box">
                        ${dataset[i][0]['description']}
                    </p>
                    <div class="outer-container-button">
                      <a id="link2addprod" href="${addProductsURL}"> <button id="more_details"> Add Product </button></a>
                    </div>
                    `
                    card_body.insertAdjacentHTML('beforeend', html)
                    card.appendChild(card_header)
                    card.appendChild(card_body)
                    outercont.appendChild(card);
                    console.log("fuck me bro")
                    if (response.superuser) {
                      console.log("testing to see it it makes it")
                      var editURL = '/pproducts/product/edit/' + dataset[i][0]['id'] + `/?specialty=${sspecialty}` 
                      var tagLabel = card_body.firstElementChild
                      var link = `<span><a class="editproductlink" href="${editURL}"> Edit Product </a></span>`
                      tagLabel.insertAdjacentHTML('afterend', link)
                      var editspecialtylink = document.getElementById("editspecialtyview")
                      
                      if (editspecialtylink) {
                        editspecialtylink.href = `/pproducts/products/tags/${response.specialtyid}/`
                        console.log("href",editspecialtylink.href )
                      } else {
                        var titleBox = document.getElementById("titleBox")
                        var anchor = document.createElement("a")
                        var HREF = `/pproducts/products/tags/${response.specialtyid}/`
                        console.log(HREF)
                        var HTML = `<a  id="editspecialtyview"  href="${HREF}" id="addTags"> Edit Specialty + </a>`
                        titleBox.insertAdjacentHTML("beforeend", HTML)
                      }
                     } 
                    }
                   } else {
                    var editspecialtylink = document.getElementById("editspecialtyview")
                      if (response.superuser) {
                      if (editspecialtylink) {
                        editspecialtylink.href = `/pproducts/products/tags/${response.specialtyid}/`
                        console.log("href",editspecialtylink.href )
                      } else {
                        var titleBox = document.getElementById("titleBox")
                        var anchor = document.createElement("a")
                        var HREF = `/pproducts/products/tags/${response.specialtyid}/`
                        console.log(HREF)
                        var HTML = `<a  id="editspecialtyview"  href="${HREF}" id="addTags"> Edit Specialty + </a>`
                        titleBox.insertAdjacentHTML("beforeend", HTML)
                      }
                    }
                   }
                  }

              },
              error: function() {
              console.log('error')
            }
        })
      }

function boilerplateJavascript(event) {
  // POST request must account for the CSRF TOKEN to Prevent Cross-Site-Request-Forgery
  var _csrf_token = document.querySelector("input[type=hidden]").value;
  var json_obj = {"Test": 15}
  var callbackURL = "/pproducts/etc/etc/?querystring=ifneeded"
  $.ajax({
      type: 'POST',
      headers: { "X-CSRFToken": csrf_token },
      dataType: "json",
      data: json_obj,
      url: callbackURL,
      // Receiving JSON Response Back from DB
      success: function(response) {
        // Write Javascript function here
      },
      error: function() {
      console.log('error')
    }
  })
}

</script>

{% endblock %}