<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for k,v in physician.buildProductList.items %}

        <h3>Key: {{k}}</h3>
        <h3>Products</h3>

        {% for product in v %}

            <p>&nbsp;&nbsp;&nbsp;&nbsp; {{product}}</p>
            {% if product.1.1 == 'checked' %} 
                <span>Checked {{product.0.name}}</span>
            {% endif %}
        {% endfor %}

    {% endfor %}
    
</body>
</html>