<!DOCTYPE html>
<html>
<body>


  <label for="cars">Choose a car:</label>
  <select name="cars" id="cars">
    
    <optgroup label="Action" onclick="x2(event)">
        <option value="cre">Created</option>
        <option value="upd">Updated</option>
        <option value="del">Deleted</option>
    </optgroup>
    <optgroup label="Entity Type">
      <option value="hosp">Hospital</option>
      <option value="phys">Physician</option>
      <option value="prod">Product</option>
    </optgroup>

  </select>
  
 
<script>
    function x2(event) {
        var c = document.getElementById('b')
        b.style.display = 'block'
    }

</script>
</body>
</html>