@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap'); 


.grid-container {
    display:grid;
    grid-template-columns: 25% 50% 25%;
    position: relative;
    top:50px;
    font-size: large;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Cabin', sans-serif;
    }

    .gccl {
    
    }

    .gccm {
    
    }

    .flex-container {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    
    
    }

    .form-title {
        padding-top: 10px;
    }

    label {
    
    line-height: 50px;
    }

    .input-fam  {
    
    }
    .inner-flex {
    
    display:flex;
    justify-content:space-between;
    padding:10px 0;
    
    
    }
    .inner-flex > label {

        color:#22313f;
        font-size: 21px;
    }

    label {
        margin-left:25%;
        line-height: 50px;
    }

    input {
    position:relative;
    border:3px outset #8c949c;
    border-radius:7px;
    width:40%;
    height:42px;
    font-size:17px;
    margin-right:100px;
    border: 3px outset #7a828b;
    

    }

    textarea {

        margin-right: 8%;
        border-radius: 6px;
        border:3px outset #8c949c;

    }

    select {
        position:relative;
        height:31px;
        width:30%;
        margin-right: 170px;
        height:31px;
        border-radius: 5px;
    }

    h1 {
    text-align:center;
    }

    .input-fam {
    
    }

    .error {
    text-align:center;
    }

    .form-title {
    text-align:center;
    font-size: 30px;
    }

    .errorlist{
    text-align:center;
    list-style:none;
    color:red;
    
    margin-bottom:10px;
    margin-top:5px;
    }

    .subbutt {
  
    width:50%;
    margin: 10px auto;
    display: block;
    
    }

