{% extends 'medical/base2.html' %}

{% load static %}

{% block styles %}

<style>

html {

    min-height: 100%;
}

body {
    
    min-height: 100%;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 5vw;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    table-layout:fixed;
    min-height: 100%;
    position: relative;
    width:96vw;
    position:relative;
    right: 3vw;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: justify;
}

.styled-table th,
.styled-table td {
    padding: 12px 30px;
}
td {
    
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
a {
    text-decoration: none;
    color:rgb(9, 75, 242);
}

h2 {

    margin-left: 3vw;
    display: inline;
}

.buttons {

    border-radius:4px;
}

#space-filter {
    margin-left:2vw;
    color:rgb(9, 75, 242);
}

.filter a {

    margin-left:68.5vw;
    color:rgb(28, 82, 149);
    
}


.grouped-headings {

    margin-top:4vh;
}

.header {

}

.filter_buttons {
   
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    display:inline;
    margin-right:3vw;
    
}

.margin-left-space {

    /* margin-left:{{margin}} */
    margin-left: 55vw;
}

.left-2 {

    margin-right:1.4vw;

}
.table-row {
    position: relative; 
}

.remove-facility-link {
    position: absolute;
    top:1vh;
    left:84.5vw;
}

{% if view == 'approved' %}

#approved-view {

    color:#009879;
    background-color: rgb(231, 246, 182);
    border-radius:10px;
    padding:0.5vw;
}
.filter {
   
}

{% elif view == 'awaiting' and isWaiting %}

#await-view {
    color:#009879;
    background-color: rgb(231, 246, 182);
    border-radius:10px;
    padding:0.5vw;
}
.filter {

}

{% else %}

#all-view {

    color:#009879;
    background-color: rgb(231, 246, 182);
    border-radius:10px;
    padding:0.5vw;
}

{% endif %}


.data-row-expand {
    margin-right:10vw;
}

.webadd {
    margin-right:5vw;
}

td {
    word-wrap: normal;
    max-width: 60ch;
}

</style>




{% endblock styles %}


{% block content %}
<div class="grouped-headings">
    <form action="{% url 'medical:reviewaccount' %}" method="get">
        <h2 style="margin-top:4vh;" >Facilities</h2>
        {% comment %}
        <span> | <a style="color:blue;" href="" data-label="{{data_label}}"> Add Facility + </a></span>
        {% endcomment %}
        <span>Export | <a onclick="downloadXLS(event)" data-label="{{data_label}}"> XLS </a></span>
        {% if request.user.is_superuser %}
            <span class="filter">
                    <span> <button class="filter_buttons margin-left-space left-2" id="all-view" name="viewtype" value="all" type="submit"><em> All </em> </button></span> 
                    <span><button class="filter_buttons left-2" id="await-view" name="viewtype" value="awaiting" type="submit"> <em> Awaiting Approval  </em> </button></span>
                    <span><button class="filter_buttons" id="approved-view" name="viewtype" value="approved" type="submit"> <em>Approved </em> </button></span>
            </span>
        <div>
            <span style="margin-left:3vw;"> | <a style="color:blue;" href="{% url 'medical:register' %}" data-label="{{data_label}}"> Add Facility + </a></span>
        </div>
        {% endif %}
    </form>
</div>
<table class="styled-table">
    <thead>
       
        <tr style="padding-right:25px;">
            
            <th>Admin</th>
            <th>Name</th>
            <th>Tax ID</th>
            <th>Street</th>   
            <th>City</th>
            <th>State</th>
            <th>Zip</th> 
            <th>Total Physicians</th>
            <th>Website</th>
            {% if view == 'awaiting' and isWaiting %}
            <th>Approve</th>
            <th>Unapprove</th>
            {% else %}
            <th>Approved Status</th>
            <th>Approved By</th>
            {% endif %}
            <th>Admin Mobile</th>
            <th>Details</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        {% for data in hospital %}

        <tr class="table-row">
            
            {% if data.user %}
            <td>{{data.user.username}}</td>
            {% else %}
                {% if request.user.is_superuser %}
                <td><a style="color:blue;" href="{% url 'medical:createuser' data.id %}">Add Admin</a></td>
                {% else %}
                <td>N/A</td>
                {% endif %}
            {% endif %}
            <td>{{data.name}}</td>
            <td>{{data.taxid}}</td>
            <td>{{data.street}}</td>
            <td>{{data.city}}</td>
            <td>{{data.state}}</td>
            <td>{{data.zip}}</td>
            <td>{{data.total_physicians}}</td>
            <div class="webadd">
            <td>{{data.website}}</td>
            </div>
            {% if view == 'awaiting' and isWaiting %}
               
            <td> <a href="{% url 'medical:confirmapproval' %}?app_butt=approve-{{data.id}}"><button>Approve</button> </a></td>
            <td> <a href="{% url 'medical:confirmapproval' %}?app_butt=unapprove-{{data.id}}"><button>Unapprove</button> </a></td>

            {% else %}
            {% if not data.approved %}
            <td style="color:red;">&nbsp&nbsp&nbsp{{data.approved}}</td>
            {% else %}
            <td style="color:green;">&nbsp&nbsp&nbsp{{data.approved}}</td>
            {% endif %}
            <td>{{data.approved_by}}</td>
            {% endif %}
            <td class="data-row-expand"><a href="{% url 'login:createProfile' %}?id={{data.user.id}}" data-val="{{data.id}}" style="color:blue;">{% if data.user.userprofileadmin.mobile_contact %} {{data.user.userprofileadmin.mobile_contact}} {% else %} Not Provided {% endif %} </a></td>
            <td class="data-row-expand"><a href="{% url 'medical:edit_hospital' data.id %}" data-val="{{data.id}}" style="color:blue;">Edit Details</a></td>
            <td><a href="{% url 'medical:removehospital' data.id %}" data-hospital="{{data.id}}" style="color:red;">Remove X</a></td>
        </tr>
        {% endfor %}
        <!-- and so on... -->
    </tbody>

</table>

<script>

    function approveWindow(event) {
        var ID = event.target.getAttribute('data-hospital')
        var URL = `/medical/confirmhospital/${ID}/`
        var params = "height=200,width=650,top=300,left=100"
        open(URL,'Approve Hospital',params )
        // var newwindow = window.open(URL,'name','height=200,width=650,top=300,left=100');
        // var neww = window()
        // window.open(URL)
    }

    function downloadXLS(event) {
        // building URL to call for data
        var URL = `${event.target.getAttribute("data-label")}?datatype=product`
        var url = "{% url 'pproducts:downloadxls' %}" + "?datatype=hospitals"
     
        fetch(url)
        .then((res) => {
            return res.blob(); 
        }).then((data) => {
            var a = document.createElement("a");
            a.href = window.URL.createObjectURL(data);
            a.download = "{{data_label}}"
            a.click()
        })
    }

</script>

{% endblock %}