<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'medical:reviewaccount' %}?hospid=4" method="post">
        {% csrf_token %}
        <td> <button type="submit" class="buttons" value="approve-4" name="app_butt">Approve</button></td>
        <td> <button type="submit" class="buttons" value="unapprove-4" name="app_butt">Unapprove</button></td>
    </form>
    
    
</body>
</html>