<!-- --------------------------------------------------------DESCRIPTION----------------------------------------------------------------- -->
<!--   -->
<!-- --------------------------------------------------------DESCRIPTION----------------------------------------------------------------- -->
{% extends 'base.html' %}
{% load static %}
{% load dashboard_tags %}
{% block head %}
{{block.super}}
{% endblock head %}
{% block content %}
<!-- Start Recommended Products Section -->
<h2>Thank You for Submitting Your Selections. Please contact your hospital administrator for more details on the next steps.</h2>
{% endblock %}