<!-- --------------------------------------------------------DESCRIPTION----------------------------------------------------------------- -->
<!--   -->
<!-- --------------------------------------------------------DESCRIPTION----------------------------------------------------------------- -->
{% extends 'register/base.html' %}
{% load static %}
{% load dashboard_tags %}
{% block head %}
{{block.super}}
{% endblock head %}
{% block content %}
<!-- Start Recommended Products Section -->
<div class="container login_signup_wrap">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-12 mx-auto">
            <h4>Welcome  {{qs_physician.first_name}}, {% if qs_physician.hospital %} {{qs_physician.hospital.name}} {% else %} {{ qs_physician.hospital_invite.hospital_name }} {% endif %}</h4>
            <h5>Please Complete Your Profile</h5>
        </div>
    </div>
</div>
<div class="container login_signup_wrap">
    <div class="row">
        <div class="col-md-12 col-12 mx-auto">
            <div class="login_wrap">
                <form class="py-4 needs-validation" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
                    <div class="auto_data_fill">
                        <div class="form-group has_input_icon col-12 col-md-6 ">
                            <label>Hospital Name</label>
                            <div>{% if qs_physician.hospital %} {{qs_physician.hospital.name}} {% else %} {{ qs_physician.hospital_invite.hospital_name }} {% endif %}</div>
                        </div>
                        <div class="form-group has_input_icon col-md-6 col-12">
                            <label>Physician name</label>
                            <div>{{qs_physician.get_full_name}}</div>
                        </div>
                        <div class="form-group has_input_icon col-12 col-md-6 ">
                            <label>Physician Email</label>
                            <div>{{qs_physician.email}}</div>
                        </div>
                        <div class="form-group has_input_icon col-md-6 col-12">
                            <label>Physician Specialty</label>
                            <div>{{qs_physician.buildCSV}}</div>
                        </div>
                    </div>
                    <!-- BUILD FORM -->
                    <div class="form-group has_input_icon col-12">
                        <label>Upload Physician Picture</label>
                        {{form.image}}
                    </div>
                    <div class="form-group has_input_icon col-12">
                        <label>About Physician</label>
                        <textarea id="about_physician" name="about_physician" rows="4" cols="50"> </textarea>
                    </div>
                    <div class="form-group has_input_icon col-md-12 col-lg-6 col-12">
                        <label>Body Parts <button type="submit" onclick="refreshProducts23(event)" class="clear_btn" value="clear"><i class="fa-solid fa-xmark"></i>Clear</button></label> 
                        <div class="container recommend_products_wrapper">
                            <div class="col-md-12">
                                <div class="widget-content">
                                    <ul class="listing" id="specialtySelect" onchange="refreshProducts23(event)">
                                        {% for tag in tags %}
                                        <li><label>{{tag.tag}}<input type="checkbox" name="selections" data-tag="{{tag.tag|lower}}" value="{{tag.id}}" {% if tag in qs_physician.specialty.all %} checked {% endif %}></label></li>
                                        {% endfor %}	  
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has_input_icon col-md-12 col-lg-6 col-12">
                        <label>Recommended Products</label>
                        <div class="container recommend_products_wrapper" id="containerProducts">
                            <div class="col-md-12">
                                <div class="widget-content">
                                    <ul id="accordion">
                                        {% for specialty in qs_physician.specialty.all %}
                                        <li id="{{specialty.tag}}">
                                            <h4 class="xp23" onclick="dropProducts(event)">{{specialty.tag}} <span class="plusminus">-</span></h4>
                                            <ul class="listing" id="{{specialty}}_show" style="display:block;">
                                                {% for product in specialty.products.all %}												
                                                <li><a href="#" class="rc_product_img"><img  src="{{product.getFirstImage}}"></a><label>{{product.name}}<input type="checkbox" name="{{specialty.tag}}-" value="{{product.name}}"></label><a href="#" class="view_details"> (View Product Detail)</a></li>
                                                {% endfor %}
                                                {% comment %}
                                                <li><a href="#" class="rc_product_img"><img src="images/ADL4.jpg"></a><label>{{product.name}}<input type="checkbox"></label><a href="#" class="view_details"> (View Product Detail)</a></li>
                                                <li><a href="#" class="rc_product_img"><img src="images/bottle-sizes-min.png"></a><label>BioCorneum Scar Cream <input type="checkbox"></label><a href="#" class="view_details"> (View Product Detail)</a></li>
                                                <li><a href="#" class="rc_product_img"><img src="images/POLAR-CARE-WAVE-UNIT_COVER-OFF-0004_470x.jpg"></a><label>Breg Polar Wave <input type="checkbox"></label><a href="#" class="view_details"> (View Product Detail)</a></li>
                                                <li><a href="#" class="rc_product_img"><img src="images/61415a7a7e748a1edc6d7198_Circul8-Pro-Float.png"></a><label>Home DVT Device <input type="checkbox"></label><a href="#" class="view_details"> (View Product Detail)</a></li>
                                                <li><a href="#" class="rc_product_img"><img src="images/61lkXjK0GL._AC_SX679_.jpg"></a><label>Massage Gun <input type="checkbox"></label><a href="#" class="view_details"> (View Product Detail)</a></li>
                                                <li><a href="#" class="rc_product_img"><img src="images/PROCompressionGraduatedCompressionkneesleeve.jpg"></a><label>PRO Compression Knee Sleeve <input type="checkbox"></label><a href="#" class="view_details"> (View Product Detail)</a></li>
                                                {% endcomment %}
                                            </ul>
                                        </li>
                                        {% endfor %}
                                        {% comment %}
                                        <!-- <li>
                                            <h4>Hip <span class="plusminus">+</span></h4>
                                            <ul>
                                               <li><a href="#" class="rc_product_img"><img src="images/nice_package-1.jpg"></a><label>NICE1: Cold + Compression Therapy  System <input type="checkbox"></label><a href="#" class="view_details"> (View Product Detail)</a></li>
                                               <li><a href="#" class="rc_product_img"><img src="images/ADL4.jpg"></a><label>ADL Kit <input type="checkbox"></label><a href="#" class="view_details"> (View Product Detail)</a></li>
                                               <li><a href="#" class="rc_product_img"><img src="images/bottle-sizes-min.png"></a><label>BioCorneum Scar Cream <input type="checkbox"></label><a href="#" class="view_details"> (View Product Detail)</a></li>
                                               <li><a href="#" class="rc_product_img"><img src="images/POLAR-CARE-WAVE-UNIT_COVER-OFF-0004_470x.jpg"></a><label>Breg Polar Wave <input type="checkbox"></label><a href="#" class="view_details"> (View Product Detail)</a></li>
                                               <li><a href="#" class="rc_product_img"><img src="images/61415a7a7e748a1edc6d7198_Circul8-Pro-Float.png"></a><label>Home DVT Device <input type="checkbox"></label><a href="#" class="view_details"> (View Product Detail)</a></li>
                                               <li><a href="#" class="rc_product_img"><img src="images/61lkXjK0GL._AC_SX679_.jpg"></a><label>Massage Gun <input type="checkbox"></label><a href="#" class="view_details"> (View Product Detail)</a></li>
                                               <li><a href="#" class="rc_product_img"><img src="images/PROCompressionGraduatedCompressionkneesleeve.jpg"></a><label>PRO Compression Knee Sleeve <input type="checkbox"></label><a href="#" class="view_details"> (View Product Detail)</a></li>
                                            </ul>
                                            </li> -->
                                        {% endcomment %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has_input_icon col-12 col-md-12">
                        <button type="submit" class="btn-primary btn-lg btn-block primary_btn my-4 float-left">Update Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Recommended Products Section -->	 
<!-- Start Accordian JS -->
<script src="{% static 'quickstart/js/welcomePhysician.js' %}?version=3.7"></script>
<script>
 
</script>	
<!-- End Accordian JS -->
{% endblock %}