<!-- --------------------------------------------------------DESCRIPTION----------------------------------------------------------------- -->
<!-- Edit View for Physician Details --> 
<!-- --------------------------------------------------------DESCRIPTION----------------------------------------------------------------- -->
{% extends 'register/base.html' %}
{% load static %}
{% load dashboard_tags %}
{% block head %}
{{block.super}}
{% endblock head %}
<!-- BEGIN HTML BLOCK -->
{% block content %}
<!-- Start Recommended Products Section -->


<div class="container login_signup_wrap">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-12 mx-auto">
        {% if request.GET.new %}
            <h2>Add Physician</h4>
        {% else %}
            <h4>Welcome {{physician.firstName}} @ {{physician.facility.name}}</h4>
            {% if show_all %}
            <h5>Please Edit Your Details</h5>
            {% else %}
            <h5>Please Select Your Recommended Products</h5>
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>
<div class="container login_signup_wrap" style="border-radius: 7px;">
    <div class="row">
        <div class="col-md-12 col-12 mx-auto">
            <div class="login_wrap">
                <form class="py-4 needs-validation" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if show_all or request.GET.show_all or request.GET.new %}
                    <div class="row">
                        
                        <div class="col-md-3">
                            <img src="/media/generic_profile.jpeg"  class="physician_picture">
                        </div>
                       
                        <div class="form-group has_input_icon col-md-9">
                            <label>Please Add Your Picture</label>
                            {{form.picture}} 
                            <label class="my-3">About Physician</label>
                            {{form.about_me}}
                        </div>
                    </div>
                    <div class="form-group has_input_icon col-md-6 col-12">
                        <label>Hospital Name</label>
                        {{form.hospital}}
                    </div>
                    <div class="form-group has_input_icon col-md-6 col-12">
                        <label> First Name</label> 
                        {{form.firstName}}
                    </div>
                    <div class="form-group has_input_icon col-md-6 col-12">
                        <label>{{form.lastName.label}}</label> 
                        {{form.lastName}}
                    </div>
                    <div class="form-group has_input_icon col-md-6 col-12">
                        <label>{{form.email.label}}</label> 
                        {{form.email}}
                    </div>
                    {% endif %}
                    <div class="form-group has_input_icon col-md-12 col-lg-6 col-12">
                        <label>Body Parts <button type="submit" onclick="refreshProducts23(event)" class="clear_btn" value="clear"><i class="fa-solid fa-xmark"></i>Clear</button></label> 
                        <div class="container recommend_products_wrapper">
                            <div class="col-md-12">
                                <div class="widget-content">
                                    <ul class="listing" id="specialtySelect" onchange="refreshProducts23(event)">
                                        {% for tag in tags %}
                                        {% if request.GET.new %}
                                        <li><label>{{tag.tag}}<input type="checkbox" data-tag="{{tag.tag|lower}}" name="specialty_ph" value="{{tag.id}}"></label></li>
                                        {% else %}
                                        <li><label>{{tag.tag}}<input type="checkbox" data-tag="{{tag.tag|lower}}" name="specialty_ph" value="{{tag.id}}" {% if tag.tag in current_tags %} checked {% endif %}></label></li>
                                        {% endif %}
                                        {% endfor %}	  
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="form-group has_input_icon col-md-12 col-lg-6 col-12">
                        <label>Recommended Products</label>
                        <div class="container recommend_products_wrapper">
                            <div class="col-md-12">
                                <div class="widget-content">
                                    <ul id="accordion">
                                        {% if not request.GET.new %}
                                            {% for specialty,products in physician.buildProductList.items %}
                                            <li id="{{specialty | lower }}">
                                                <h4 class="xp23">{{specialty | title}} <span class="plusminus" onclick="dropProducts(event)">-</span></h4>
                                                <ul class="listing" id="{{specialty}}_show" style="display:block;">
                                                    {% for product in products %}												
                                                    <li>
                                                        <a href="#" class="rc_product_img"><img {% if product.1.0.picture %} src="{{product.1.0.picture.url}}" {% else %} src="{{MEDIA_URL}}products/Bauerfeind EpiTrain/elbowbrace3.png" {% endif %}></a>
                                                        <label>{{product.1.0.name}}<input type="checkbox" name="{{specialty}}-" value="{{product.1.0.name}}" {{product.1.1}}></label>
                                                        <a href="#" class="view_details"> (View Product Detail)</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has_input_icon col-12 col-md-12">
                        {% if request.GET.new %}
                        <button type="submit" class="btn-primary btn-lg btn-block primary_btn my-4 float-left">Add New Physician</button>
                        {% else %}
                        <button type="submit" class="btn-primary btn-lg btn-block primary_btn my-4 float-left">Update {% if show_all %} Profile {% else %} Products {% endif %}</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- End Recommended Products Section -->
<script src="{% static 'quickstart/js/welcomePhysician.js' %}?version=4.6"></script>	 
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var listings = document.getElementsByClassName('listing')
        for (let val of listings) {
            val.style.display = 'block'
        }
  // code to be executed when the web page has finished loading
});

</script> 
{% endblock %}



