<!-- --------------------------------------------------------DESCRIPTION----------------------------------------------------------------- -->
<!-- Page to Add a New Product  -->
<!-- --------------------------------------------------------DESCRIPTION----------------------------------------------------------------- -->
{% extends 'register/base.html' %}
{% load static %}
{% block head %}
{{block.super}}
{% endblock head %}
{% block content %}
	 
	  
 <!-- Start Login -->
	
	 <div class="container login_signup_wrap mb-0">
	 <div class="row">
	 
	 <div class="col-lg-8 col-md-12 col-12 mx-auto"> 
	  
	 <h1>Please Create Log In Credentials</h1> 
	 <div class="lock2_icon"></div>
	 
	 </div>
	 </div>
	 </div>
	
	
	 <div class="container login_signup_wrap mt-2">
	 <div class="row">
	 
	 <div class="col-lg-8 col-md-12 col-12 mx-auto"> 
	 
	 <div class="login_wrap">
	 <form class="py-4 needs-validation" novalidate>
 
   	
	<div class="form-group has_input_icon col-md-6 col-12">
    <label>Enter A Username</label>
	 <span class="fa-solid fa-lock-open form_control_style"></span>
    <input type="password" name="password" class="form-control icon_gap" required>
  </div>
	 
	<div class="form-group has_input_icon col-md-6 col-12">
    <label>Re-enter Password</label>
	 <span class="fa-solid fa-lock-open form_control_style"></span>
    <input type="password" name="password" class="form-control icon_gap" required>
  </div>
  <span>Use a least 8 characters and include a mix of numbers, lowercase and uppercase characters</span>
  	<div class="col-md-6 mx-auto"> <button type="submit" class="btn-primary btn-lg btn-block primary_btn my-4 float-left">Create Log In Credentials</button></div>
	 
	 </form>  
	 
	 </div>
	 
	 </div>
	 
	 </div>
	 
	 </div>
	
 
	<!-- Start Footer -->
 

{% endblock %}